.main__container .formulario .container .campos{
    height: 46vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main__container .formulario .container .campo__signup{
    height: 18.3%;
    width: 100%;
    box-sizing: border-box;
    border: #fff solid 0.2rem;
    border-radius: 2rem;
}


.main__container .formulario .container .campo__signup .form__container{
    width: 90%;
    margin: auto;
    height: 88%;
    padding: 2% 0 0 0;
}

.campo__signup .form__container .label{
    height: 45%;
    display: flex;
    align-items: center;
}

.label label{
    font-size: 2.2rem;
    color: #fff;
    font-weight: 600;
}

.campo__signup .form__container .input{
    display: flex;
    align-items: center;
    height: 50%;
}

input{
    width: 100%;
    background: transparent;
    border: none;
    height: 90%;
    color: #fff;
    font-size: 2rem;
}

input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
    border: none;
}