@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
    font-size: 62.5%;
}

@font-face {
    font-family: 'Aqum';
    src: url('./fonts/Aqum.otf') format('opentype'),
    url('./fonts/Aqum.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Roboto', sans-serif;
}

main{
    height: 100vh;
}

main .main__container{
    height: 100%;
    display: flex;
}

.main__container{
    height: 100%;
}

.main__container .formulario{
    width: 37.5vw;
    height: 100%;
    background-color: #1F1E1E;
}

.main__container .formulario .container{
    width: 75%;
    margin: auto;
    margin-top: 8.6vh;
    height: 91%;
    display: flex;
    flex-direction: column;
}

.main__container .formulario .container .titulo{
    height: 18.1vh;
}

.main__container .formulario .container h1{
    font-size: 7.4rem;
    font-family: "Aqum", sans-serif;
    font-weight: 700;
    color: #FFFF;
    width: 80%;
}


@media screen and (max-width: 1600px) {
    .main__container .formulario .container h1{
        font-size: 4vw;
    }

    .main__container .formulario .container .campo{
        height: 22.3%;
    }

    .label label{
        font-size: 1.2vw;
    }

    input{
        font-size: 1.4vw;
    }

}