.corpo{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    width: 40%;
    border-radius: 20px;
    margin-left: 9.5vw;
    color: white;
    border: 0.5vh white solid;
}

.relogio div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_relogio {
    height: 70%;
    width: 100%;
}

.div_pomodoro {
    height: 25%;
    width: 100%;
}

.div_pomodoro div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 90%;
}

.relogio span{
    font-weight: bolder;
    font-size: 20vh;
}

.relogio .tempo{
    font-size: 15px;
}