@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root{
    font-size: 62.5%;
}

@font-face {
    font-family: 'Aqum';
    src: url('../css/fonts/Aqum.otf') format('opentype'),
    url('../css/fonts/Aqum.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Roboto', sans-serif;
}

main{
    height: 100vh;
}

main .main__container{
    height: 100%;
    display: flex;
}

/* VARIAVEIS DAS CORES */
:root {
    --cor--azul: #5D84C2;
    --cor--verde: #51BDAB;
    --cor--roxo: #7463C7;
    --cor--amarela: #FFCA6D;
    --cor--preta: #1F1E1E;
}

.main__container{
    height: 100%;
}

.main__container .formulario{
    width: 37.5vw;
    height: 100%;
    background-color: var(--cor--preta);
}

.main__container .formulario .container{
    width: 75%;
    margin: auto;
    margin-top: 8.6vh;
    height: 91%;
    display: flex;
    flex-direction: column;
}

.main__container .formulario .container .titulo{
    height: 18.1vh;
}

.main__container .formulario .container h1{
    font-size: 7.4rem;
    font-family: "Aqum", sans-serif;
    font-weight: 700;
    color: #FFFF;
    width: 80%;
}

.main__container .formulario .container .campos{
    height: 52.9%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main__container .formulario .container .campo{
    height: 22.3%;
    width: 100%;
    box-sizing: border-box;
    border: #fff solid .2rem;
    border-radius: 2rem;
}


.main__container .formulario .container .campo .form__container{
    width: 90%;
    margin: auto;
    height: 88%;
    padding: 2% 0 0 0;
}

.campo .form__container .label{
    height: 45%;
    display: flex;
    align-items: center;
}

.label label{
    font-size: 2.2rem;
    color: #fff;
    font-weight: 600;
}

.campo .form__container .input{
    display: flex;
    align-items: center;
    height: 50%;
}

input{
    width: 100%;
    background: transparent;
    border: none;
    height: 90%;
    color: #fff;
    font-size: 2rem;
}

input:focus{
    box-shadow: 0 0 0 0;
    outline: 0;
    border: none;
}

.formulario .container .botao{
    height: 6.92vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario .container .botao .botao__container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 15.52vw;
    background-color: var(--cor--amarela);
    border-radius: 10rem;
    cursor: pointer;
}

.formulario .container .botao .botao__container p{
    color: var(--cor--preta);
    font-size: 2rem;
    font-weight: bold;
}

.img__icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 29%;
}

.main__container .img__calendario{
    background: url("../../assets/images/background.png");
    background-size: cover;
    width: 62.5vw;
    height: 100%;
    background-color: #fffafa;
}

.main__container .img__calendario .calendario__container{
    height: 100%;
}

.main__container .img__calendario .calendario__container .balao{
    height: 30%;
    display: flex;
    align-items: center;
}

.calendario__container .balao img{
    height: 60%;
    margin-left: 15%;
}

.main__container .img__calendario .calendario__container .calendario{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
}

.calendario__container .calendario img{
    height: 100%;
}

.main__container .img__calendario .calendario__container .balao__invertido{
    height: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.calendario__container .balao__invertido img{
    height: 60%;
    margin-right: 16%;
}


@media screen and (max-width: 1600px) {
    .main__container .formulario .container h1{
        font-size: 4vw;
    }

    .main__container .formulario .container .campo{
        height: 22.3%;
    }

    .label label{
        font-size: 1.2vw;
    }

    input{
        font-size: 1.4vw;
    }

}