body{
    margin: 0;
}

.bodyPerfil {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    display: flex;
}

/* VARIAVEIS DAS CORES */
:root {
    --cor--azul: #5D84C2;
    --cor--verde: #51BDAB;
    --cor--roxo: #7463C7;
    --cor--amarela: #FFCA6D;
    --cor--preta: #1F1E1E;
}

/* HEADER */
.header {
    position: fixed;
    width: 100vw;
    height: 15%;
    border-bottom: 0.4vh var(--cor--azul) solid;
}

.main_container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 1vw;
}

::-webkit-scrollbar-track {
    background: var(--cor--roxo);
    border-radius: 100vw;
    margin-block: .3vw;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 100vw;
    border: .3vw var(--cor--roxo) solid;
}

::-webkit-scrollbar-thumb:hover {
    background: #E7E7E7;
}

/* HEADER */
.main_container .box_header {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    height: 15%;
    border-bottom: 0.4vh var(--cor--azul) solid;
}

.main_container .box_header .btn_box {
    position: fixed;
    height: 15%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_container .box_header .btn_box .container {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_container .box_header .btn_box .container div {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.main_container .box_header .btn_box .container div .text {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main_container .box_header .btn_box .container div .div_selection {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main_container .box_header .btn_box .container div .div_selection .selection {
    width: 60%;
    height: 30%;
    border-radius: 1vw 1vw 0 0;
    background-color: var(--cor--azul);
}

.main_container .box_header .btn_box .container span {
    font-size: 1.3vw;
    font-weight: 700;
}

.main_container .box_header .btn_box .container span:hover {
    cursor: pointer;
    transition-duration: 0.3s;
    color: var(--cor--azul);
}

/* SIDEBAR */
.main_container .toolbar {
    width: 30%;
    height: 100vh;
    background-color: var(--cor--preta);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_container .toolbar .container {
    height: 95%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.main_container .toolbar .container div {
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_container .toolbar .container .foto_perfil {
    position: relative;
    background-color: var(--cor--preta);
    float: left;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
}

.main_container .toolbar .container .foto_perfil img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.main_container .toolbar .container .foto_perfil div {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    color: white;
    font-size: 2em;
}

.main_container .toolbar .container .foto_perfil div .nivel {
    width: 5vw;
    height: 5vw;
    background-color: var(--cor--amarela);
    border-radius: 50%;
    border: 0.5vh var(--cor--preta) solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    font-weight: 900;
}

.main_container .toolbar .container .opcoes {
    width: 65%;
    height: 20%;
    font-size: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
}

.main_container .toolbar .container .opcoes #nome_usuario {
    font-weight: 900;
    font-size: 1.5vw;
}

.main_container .toolbar .container .opcoes #usuario {
    font-size: 1vw;
}

.main_container .toolbar .container .opcoes button {
    width: 100%;
    height: 22%;
    font-size: 1vw;
    border: none;
    background-color: var(--cor--azul);
    border-radius: 1em;
    color: white;
}

.main_container .toolbar .container .opcoes .sair { 
    text-decoration: none;
    color: #FFF;
}
.main_container .toolbar .container .opcoes button:hover {
    cursor: pointer;
    transition-duration: 0.3s;
    background-color: var(--cor--amarela);
}

.main_container .toolbar .container .status {
    width: 80%;
    background-color: #E7E7E7;
    border-top: 0.5vw var(--cor--roxo) solid;
    border-bottom-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
}

.main_container .toolbar .container .status .status_container {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.main_container .toolbar .container .status h1 {
    color: var(--cor--roxo);
    font-size: 1.2vw;
    margin: 0;
}

.main_container .toolbar .container .status span {
    font-size: 1vw;
}

/* CONTEUDO */
.main_container .conteudo {
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-image: url("../../assets/images/fundo-perfil-opaco.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.main_container .conteudo .container {
    height: 85%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_container .conteudo .container .box_container {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ESTRUTURA = OVERVIEW _ CONQUISTAS */
.main_container .conteudo .container .box_container .div_up {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_container .conteudo .container .box_container .div_down {
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ESTRUTURA GRAFICOS */
.main_container .conteudo .container .box_container .div_up_grafico {
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_container .conteudo .container .box_container .div_down_grafico {
    width: 100%;
    height: 40%;
}

/* OVERVIEW */
.div_up .item_rectangle_bio {
    width: 100%;
    height: 100%;
    background-color: #E7E7E7;
    border-top: 0.5vw var(--cor--roxo) solid;
    border-bottom-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.div_up .item_rectangle_bio .overview_descricao {
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.div_up .item_rectangle_bio .titulo_descricao {
    height: 30%;
    width: 100%;
    border-bottom: 0.2vh black solid;
    color: black;
    display: flex;
    align-items: center;
    font-size: 0.5vw;
}

.div_up .item_rectangle_bio .texto_descricao {
    height: 60%;
    width: 100%;
    color: black;
    display: flex;
    align-items: center;
    font-size: 1vw;
}

.div_up .item_rectangle_bio .overview_imagem {
    height: 80%;
    width: 40%;
    border-radius: 1.5vw;
    background-color: var(--cor--preta);
    overflow: hidden;
}

.div_up .item_rectangle_bio .overview_imagem img {
    width: 100%;
}

/* CONQUISTAS */
.div_up .conquista_container_up {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div_up .conquista_container_up .conquista_badges {
    height: 100%;
    width: 48%;
    background-color: #E7E7E7;
    border-top: 0.5vw var(--cor--roxo) solid;
    border-bottom-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
}

.div_up .conquista_container_up .conquista_grafico {
    height: 100%;
    width: 48%;
}

.div_down .conquista_container_down {
    height: 100%;
    width: 100%;
    background-color: #E7E7E7;
    border-top: 0.5vw var(--cor--roxo) solid;
    border-bottom-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
    overflow-y: scroll;
}

/* ITEM RECTANGLE */
.item_rectangle {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: center;
    background-color: #E7E7E7;
    border-top: 0.5vw var(--cor--roxo) solid;
    border-bottom-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
    overflow: hidden;
}

.item_rectangle .grafico_timeline {
    height: 100%;
    width: 100%;
    margin-left: 5%;
    margin-top: 3%;
}

/* ITEM SQUARE */
.item_square {
    height: 100%;
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7E7E7;
    border-top: 0.5vw var(--cor--roxo) solid;
    border-bottom-right-radius: 1vw;
    border-bottom-left-radius: 1vw;
    overflow: hidden;
}

.item_square .grafico_etiqueta {
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_square .grafico_semana {
    height: 95%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ITEM CONQUISTA */
/* badges */
.conquista_badges {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conquista_badges .badge_container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.conquista_badges .badge_container h1 {
    font-size: 1.2vw;
    color: black;
}

.conquista_badges .badge_container .list_badges {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow-y: scroll;
}

.badge {
    height: 4.5vw;
    width: 4.5vw;
    background-color: black;
    border-radius: 50%;
    overflow: hidden;
    border: 0.5vw #E7E7E7 solid;
}

.badge img {
    height: 100%;
    width: 100%;
}

/* lista conquista */
.conquista_corpo {
    width: 100%;
    height: 25%;
    border-bottom: 0.2vh black solid;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conquista_corpo .conquista_corpo_container {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conquista_corpo .conquista_corpo_container div {
    width: 90%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.conquista_corpo .conquista_corpo_container .conquista_imagem {
    width: 10%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conquista_corpo .conquista_corpo_container .conquista_imagem .div_imagem {
    height: 4.5vw;
    width: 4.5vw;
    background-color: black;
    border-radius: 50%;
    overflow: hidden;
}

.div_imagem img {
    height: 100%;
    width: 100%;
}

.conquista_corpo .conquista_corpo_container div .titulo_conquista {
    width: 95%;
    height: 35%;
    color: black;
    font-weight: bold;
    font-size: 1.2vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.conquista_corpo .conquista_corpo_container div .descricao_conquista {
    width: 95%;
    height: 60%;
    color: black;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    word-wrap: break-word;
}
