@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* VARIAVEIS DAS CORES */
:root {
    --cor--azul: #5D84C2;
    --cor--verde: #51BDAB;
    --cor--roxo: #7463C7;
    --cor--amarela: #FFCA6D;
    --cor--preta: #1F1E1E;
}

*{
    scroll-behavior: smooth;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 0.2vw;
}

::-webkit-scrollbar-track {
    background: #363434;
    border-radius: 100vw;
    margin-block: .3vw;
}

::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 100vw;
    border: .3vw #FFF solid;
}

::-webkit-scrollbar-thumb:hover {
    background: #E7E7E7;
}

.root{
    width: 100vw;
}

.bodySiteInstitucional {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

.headerInstitucional {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 15vh;
    border-bottom: 0.2vh solid var(--cor--preta);
    background-color: #FFF;
    position: fixed;
    top: 0;
    z-index: 1;
}

.headerInstitucional .navbar{
    color: var(--cor--preta);
    font-size: 2.4em;
    text-decoration: none;
}

.btnLogin{
    width: 11vw;
    height: 6vh;
    font-size: 2.4em;
    font-weight: 600;
    color: white;
    border: 0;
    background-color: var(--cor--azul);
    border-radius: 2vw;
    transition-duration: 0.3s;
}

.btnLogin:hover{
    cursor: pointer;
    transition-duration: 0.3s;
    background-color: var(--cor--amarela);
}

.banner{
    margin-top: 10vh;
    display: flex;
    width: 100%;
    height: 80vh;
}

.bannerText{
    padding: 6vw;
    padding-left: 9vw;
    width: 40vw;
    display: flex;
    flex-direction: column;
}

.bannerImage{
    display: flex;
    width: 20vw;
    padding: 6vh;
}

.banneImage img{
    width: 55vw;
    height: 55vh;
}


.bannerText h1{
    color: var(--cor--roxo);
    font-weight: 600;
    font-size: 4.0em;
}

.bannerText h2{
    color: var(--cor--preta);
    font-size: 3.0em;
    font-weight: 300;
    margin-bottom: 8vh;
}

.btnCadastro{
    width: 18vw;
    height: 7vh;
    font-size: 2.4em;
    font-weight: 600;
    color: var(--cor--preta);
    border: 0;
    background-color: var(--cor--amarela);
    border-radius: 2vw;
    transition-duration: 0.3s;
    cursor: pointer;
}

.btnCadastro:hover{
    color: var(--cor--preta);
    border: 0;
    background-color: #ffb83d;
}

.bannerIcons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.bannerIcons .icons{
    width: 60vw;
    justify-content: space-evenly;
    display: flex;
}

.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--cor--preta);
    font-size: 1.6em;
    font-weight: 400;
}

.icon img{
    width: 7vw;
    height: 7vw;
}

.bannerRadio{
    padding: 4vh;
    display: flex;
    justify-content: center;
    margin-bottom: 10vh;
}

.bannerRadio input{
    height: 1vw;
    width: 1vw;
    appearance: none;
    background-color: #AFAFAF;
    border-radius: 100%;
    cursor: pointer;
    transition-duration: 0.2s;
}

.bannerRadio input:checked{
    height: 1.1vw;
    width: 1.1vw;
    appearance: none;
    background-color: var(--cor--azul);
    border-radius: 100%; 
    cursor: pointer;
    transition-duration: 0.2s;
}

.hiddenIcon {
    display: flex;
    width: 60vw;
    justify-content: space-evenly;
    -webkit-animation-name: hideAnimation;
    animation-name: hideAnimation;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
@keyframes hideAnimation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
  }

.showIcon {
    display: flex;
    width: 60vw;
    justify-content: space-evenly;
    -webkit-animation-name: showAnimation;
    animation-name: showAnimation;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes showAnimation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.metodologias{
    background-color: var(--cor--preta);
    height: 150vh;
}

.metodologiasText {
    display: flex;
    flex-direction: column;
    padding: 7vw;
    padding-left: 9vw;
    height: 28vh;
}

.metodologiasText h1{
    color: white;
    font-weight: 600;
    font-size: 6.4em;
    margin: 2vh;
}

.metodologiasText h2{
    color: white;
    width: 50vw;
    margin: 2vh;
    font-weight: 300;
    font-size: 2.4em;
}

.cardsContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--cor--preta);
    justify-content: space-evenly;
}

.cards{
    display: flex;
    width: 86vw;
    justify-content: space-around;
}

.metodologias h3{
    color: var(--cor--azul);
    font-size: 2.4em;
    padding-left: 2vw;
    margin-bottom: 1vh;
}

.metodologias h4{
    color: white;
    font-weight: 300;
    font-size: 2.0em;
    padding-left: 2vw;
    margin-top: 1vh;
}

.separator{
    width: 4vw;
    height: 0.1vh;
    margin-left: 2vw;
    background-color: var(--cor--azul);
}

.descricao {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: left;
    width: 90%;
    height: 100%;
}

.biggerCard{
    background-image: url("../../assets/images/card-matriz.png");
    background-size: cover;
    width: 40vw;
    height: 55vh;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.card img{
    position: absolute;
}

.card{
    background-image: url("../../assets/images/bg-card.png");
    background-size: cover;
    width: 41.5vw;
    height: 25.6vh;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bottomCard{
    background-image: url("../../assets/images/card-progresso.png");
    background-size: cover;
    width: 83vw;
    margin-top: 5vh;
    height: 23vh;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cardPomodoro{
    background-image: url("../../assets/images/card-pomodoro.png");
}

.smallCards{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 55vh;
}

.beneficios{
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.beneficiosContent{
    display: flex;
    justify-content: center;
    width: 80vw;
}

.beneficiosContent .separator{
    margin-left: 0;
}

.leftContent{
    width: 30vw;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.leftContent button{
    font-size: 2.0em;
    width: 14vw;
    height: 6vh;
}

.text h1{
    font-size: 2.4em;
    color: var(--cor--roxo);
}

.text h4{
    font-size: 2.0em;
    font-weight: 400;
    color: var(--cor--preta);
}

.footerInstitucional{
    background-color: var(--cor--azul);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 25vh;
    flex-direction: row;
}

.footerInstitucional h1{
    font-weight: 400;
    font-size: 2em;
    color: #FFF;
    margin-bottom: 1vw;
}

.footerInstitucional h2{
    font-weight: 300;
    font-size: 1.6em;
    color: #FFF;
    margin-top: 1vw;
}

.idoCopyright{
   width: 40vw;
   display: flex;
   justify-content: space-evenly;
   flex-direction: row; 
}

.socialMedia{
    width: 30vw;
    display: flex;
    justify-content: space-evenly;
}